.header__line2{
    width: 100%;
    color: var(--color__gray);
}
.header__line2 a{
    text-decoration: none;
    color: var(--color__gray);
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    min-height: 5rem;
}
.content{
    width: 100%;
    padding:0 4rem;
}
.line2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
}
.search>a{
    margin-left: 2rem;
}


@media screen and (max-width: 992px){
    .content{
        padding:0 1rem 0 2rem;
    }
    .search>a{
        margin-left: 1rem;
    }
}
@media screen and (max-width: 768px){
    .container{
       min-height: auto;
       padding: .5rem .5rem 0;
    }
    .container>div:nth-child(1){
        display: none;
    }
    .search{
        width: 50%;
    }
    .search>a{
       display: none;
    }
    .content{
        padding:0 ;
        margin: 0;
    }
    .number{
        display: none;
    }
}
