.button_container{
    width: 100%;
    text-align: center;
    margin: 1rem 0;
}
.button{
    width: fit-content;
    height: 2.5rem;
    padding: .5rem 1rem;
    border: 1px solid #dbdbdb;
    border-radius: 1.1rem;
    color: var(--color__gray);
    font-weight: 600;
    transition: all linear .2s;
    margin-top: 1rem;
}

.button svg{
    margin-right: .7rem;
}
.button:hover{
    border: 1px solid var(--color__lightgreen);
    box-shadow: 0 0px 11px var(--color__lightgreen);
}





.form__container{
    width: 100vw;
    height: 100%;
    border: 1px solid black;
    
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    overflow: hidden;
}
.form{
    width: 400px;
    min-height: 500px;
    border: 1px solid black;
    position: fixed;
}