.basket{
    width: 100%;
}

.basket>h2>span{
    border-bottom: 2px solid var(--color__lightgreen);
}

.product{
    width: 100%;
    font-size: 1rem;
    padding: .2rem;
    display: flex;
    position: relative;
    border-bottom: 1px solid var(--color__lightgray);
}
.product__name a{
    color: var(--color__gray);
    text-decoration: none;
}
.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product__num {
    padding: 0 .2rem;
}
  
.product__img{
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.product__img img{
    width: auto;
    max-width: 80%;  
}

.product__price{
    text-align: center;
}
  
.product__count{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .2rem;
    border: 1px solid var(--color__lightgray);
    border-radius: 1rem;
}

.product__count>span{
    padding: 0 .5rem;
}

.product__count> button{
    width: 1.7rem;
    height: 1.7rem;
    line-height: .8;
    border-radius: 50%;
    border: none;
    background-color: inherit;
    transition: all linear .2s;
    font-size: 1.5rem;
}

.totalValue{
    padding: 0 1rem;
}

.totalValue> span{
    margin-left: 40%;
    font-weight: 500;
}

.basket__footer{
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button_toContinue, .button_toOrder{
    line-height: 1;
    text-align: center;
    width: 45%;
    padding: .2rem .4rem;
    font-weight: 500;
    font-size: .9rem;
    color: var(--color__gray);
    border: none;
    border-radius: 1rem;
}

.button_toContinue{
    background-color: var(--color__lightgray); 
}

.button_toOrder{
    background-color: var(--color__lightgreen);
    text-decoration: none;
}

.product__delate{
    padding: .2rem .5rem;
    border: none;
    border-radius: .5rem;
    background-color: inherit;
    transition: all linear .2s;
    color: brown;
    position: absolute;
    right: 0;
}

.close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: .1rem .5rem;
    border-radius: .5rem;
    background-color: inherit;
    border: none;
    cursor: pointer;
    transition: all linear .2s;
}
