.basket__container{
    margin: 0 auto;
    padding: 2%;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 120;
    background-color: rgb(0, 0, 0, 70%);
}

.basket{
    position: relative;
    padding: 1rem;
    z-index: 100;
    background-color: var(--color__white);
    border-radius: 1rem;
    box-shadow: 0px 0px 100px var(--color__gray);
    color: var(--color__gray);
    height: auto;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.pcBasket{
    width: auto;
}
.basket_content{
    width: auto;
}


.mobBasket{
    display: none;
}


.basket__message{
    width: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
    position: relative;
}

.basket__message>span{
    display: block;
}
.basket__message>h2>span{
    border-bottom: 2px solid var(--color__lightgreen);
}
.close{
    position: absolute;
    top: 0;
    right: .5rem;
    padding: .1rem .5rem;
    border-radius: .5rem;
    background-color: inherit;
    border: none;
    cursor: pointer;
    transition: all linear .2s;
}

@media screen and (max-width: 768px){
    .pcBasket{
        display: none;
    }
    .mobBasket{
        display: block;
    }

}