.header__line1{
    width: 100%;
    border-bottom: 1px solid var(--color__lightgray);
    color: var(--color__gray);
}
.container{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .5rem;
}

.header__line1 a{
    color: var(--color__gray);
}
.buttonOpen{
    border: none;
    font-size: 2rem;
    padding: .3rem .8rem;
    background-color: inherit;
    display: none;
}


@media screen and (max-width: 768px){
    .buttonOpen{
        display: block;
    }
    .container{
        background-color: var(--color__lightgreen);
    }
    .container>div:nth-child(1){
        min-width: 60%;
    }
    .container>div:nth-child(3){
        display: none;
    }
}

