.container{
    display: grid;
    grid-template-columns: 240px 1fr;
}

.navigation{
    width: 100%;
}
.content{
    width: 100%;
}

.top__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}




@media screen and (max-width: 768px){
    .navigation{
        display: none;
    }
    .container{
        margin: 0 1rem;
        display: grid;
        grid-template-columns: 1fr;
    }
}
