.compared{
    color: var(--color__gray);
}

.category__names{
    border-bottom: 1px solid var(--color__lightgray);
    padding-bottom: 1rem;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.category__names>span{
    font-weight: 500;
}

.category__name{
    margin-left: 1rem;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border: 1px solid #dbdbdb;
}


.compared__cards{
    width: 100%;
    min-height: 50px;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    gap: .5rem;
}
.compared__card{
    position: relative;
}
.compared__card>div{
    min-height: 500px;
    border: 1px solid var(--color__lightgray);
    border-radius: 1rem;
}

.compared__card>div>div:nth-child(5){
    display: block;
}



.delete{
    position: absolute;
    top: 2.2rem;
    right: .8rem;
    z-index: 110;
    padding: .2rem .4rem;
    border: none;
    border-radius: .3rem;
    background-color: var(--color__white);
    color: brown;
}




@media screen and (max-width: 992px){
    .compared__cards{
        grid-template-columns: repeat(3, 2fr); 
        padding: .5rem;
    }
}
@media screen and (max-width: 768px){
  

}
@media screen and (max-width: 480px){
    .compared__cards{
        grid-template-columns: repeat(2, 2fr); 
    }
}