.position{
    position: relative;
}

.products__container{
    width: 100%;
    margin: 0 auto;
    min-height: 500px;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-auto-rows: 320px;
    justify-content: center;
    
}

.drop{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.filer{
    position: absolute;
    top: 400px;
    left: -240px;
}

.filter_button{
    border: 1px solid var(--color__lightgray);
    background-color: inherit;
    padding: .2rem .5rem;
    border-radius: .5rem; 
    cursor: pointer;
    display: none;
}
.filter_button svg{
    margin-right: .5rem;
    color: var(--color__lightgray);
}


.pagination nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2rem;
    
}
.products__container >h4{
    padding: .5rem;
}



@media screen and (max-width: 992px){
    .products__container{
        margin: 0 auto;
        grid-template-columns: repeat(2, 2fr);
        text-align: center;
    }
}

@media screen and (max-width: 768px){
    .products__container{
        grid-template-columns: repeat(2, 2fr);
    }
    .filer{
        display: none;
    }
    .drop{
        justify-content: space-between;
    }
    .filter_button{
        display: block;
    }


}


@media screen and (max-width: 480px){
    .products__container{
        grid-template-columns: 2fr;
    }
}
