
.product__card{
    margin: 0 auto;
    width: 100%;
    max-width: 260px;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: .5rem;
    position: relative;
    border-right: 1px solid var(--color__lightgray);
    border-bottom: 1px solid var(--color__lightgray);
    background-color: var(--color__white); 
    overflow-wrap: break-word;
    transition: all linear .2s;
    
}
.product__card a{
    text-decoration: none;
}
.cursor{
    cursor: default;
}
.product__card:hover{
    box-shadow: 0 0 10px  #323131;
    min-height: 520px;
    z-index: 80;
    border-radius: 1rem;
  
}
.product__card:hover>.description{
    display: block;
}

.product__card button, .product__card h5 {
    cursor: pointer;
}



.photo{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    
}
.photo div img{
    max-width: 90%;
    max-height: 180px;
}

.product__card h5{
    min-height: 2.5rem;
    font-size: 1rem;
    color: var(--color__gray);
    cursor: pointer;
}


.rating{
    font-size: .8rem;
}
.rating span{
    margin-right: .3rem;
}
.rating svg{
    color: gold;
}


.code{
    font-size: .8rem;
}
.code span{
    margin-right: .1rem;
}


.description{
    margin-top: .2rem;
    font-size: .8rem;
    margin: .5rem 0;
    display: none;
    border-top: 2px solid var(--color__lightgray);
}

.price{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price{
    color:  #e00;
}
.price span{
    padding-left: .3rem;
    color: var(--color__gray);
}

.buy{
    width: 2rem;
    height: 2rem;
    background-color: var(--color__gray);
    border-radius: 50%;
    color: white;
    transition: all linear .2s;
    border: none;
    margin-right: 1rem;
}
.buy:hover{
    background-color: var(--color__lightgreen);
    color: var(--color__gray);
    box-shadow: 0 0 5px var(--color__gray);
}
.buy svg{
    width: 1rem;
    height: 1rem;
}




.select, .compare{
    position: absolute;
}


.select button, .compare button{
    width: 1.5rem;
    height: 1.5rem;
    transition: all linear .2s;
    border: none;
    background: none;
}

.select{
    top: .5rem;
    right: 1rem;
}

.compare{
    top: 2.5rem;
    right: 1rem;
}

.select button svg, .compare button svg{
    width: 1.1rem;
    height: 1.1rem;
    color: var(--color__gray);
    transition: all linear .2s;
}


.select button>svg:hover, .compare button>svg:hover{
    color: var(--color__lightgreen);
}



.count{
        display: flex;
        align-items: center;
        justify-content: center;
        width: .8rem;
        height: .8rem;
        padding: .1rem;
       
        border-radius: 50%;
        position: absolute;
        top: -.2rem;
        right: -.2rem;
        color: var( --color__gray);
        background-color: var(--color__lightgreen);
        font-size: .6rem;
}




@media screen and (min-width: 992px){
    .product__card:nth-child(4n){
        border-right: none;
    }
}

@media screen  and (max-width: 992px){
    .product__card{
        border-right: none;
    }
   
}

@media screen and (max-width: 768px){
    .product__card:hover>.description{
        display: none;
    }
    .product__card:hover{
        min-height: 300px;
        z-index: 100;
    }


}


@media screen and (max-width: 526px){
  
}
