.home__page{
    width: 100%;
    display: flex;
    overflow: hidden;
}

.navigation{
    width: 300px;
}

.button{
    width: 100%;
    height: 2.8rem;
    display: flex;
    align-items: center;
    background-color: var(--color__lightgreen);
    padding-left: 1rem;
    font-weight: 500;
    font-size: 1.1rem;
    box-shadow: 0 0 15px var(--color__lightgray);
    border-radius: .5rem;
    border: none;
    margin: 1rem;
    display: none;
}
.button svg{
    margin-right: .5rem;
}


.content{
    width: 100%;
    padding: 0 .5rem;
    overflow: hidden;
}

.recomended{
    padding-bottom: .5rem;
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-auto-rows: 200px;
    grid-gap: 1rem;
}
.recomended div{
    border: 1px solid var(--color__lightgray);
    border-radius: .5rem;
    overflow: hidden;
}
.recomended div:hover{
    box-shadow: 0 0 10px var(--color__graybg);
}
.recomended div a{
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    transition: all linear .2s;
    padding: .5rem;
}

.recomended div a:hover{
    
    transform: scale(1.05);
}

.recomended div a>span{
    position: absolute;
    bottom: .5rem;
    left: 1rem;
    color: var(--color__gray);
    font-weight: 500;
}
.phones_card {
    background-image: url(../../assets/phones_card.jpg);
}
.leptops_card {
    background-image: url(../../assets/laptops_card.jpg);
}
.tv_card {
    background-image: url(../../assets/television_card.jpg);
    background-size: 70%;
}
.iphone_card {
    background-image: url(../../assets/apple-iphone_card.jpg);
    background-size: 50%;
}
.ipad_card {
    background-image: url(../../assets/apple-ipad_card.jpg);
}
.mackbook_card {
    background-image: url(../../assets/apple-macbook_card.jpg);

}



.text{
    margin: 2rem 0;
}
.text a{
    color: var(--color__blue);
    font-weight: 500;
    text-decoration: none;
}
.text a:hover{
    text-decoration: underline;
}
.text h2{
    padding: 1.5rem ;
    text-align: center;
    border-bottom: none;
    border-top: 1px solid var(--color__lightgray);
}

.gray{
    padding: 1rem;
    background-color: var(--color__lightgray);
    margin-bottom: .5rem;
    border-left: 5px solid var(--color__lightgreen);
}
.gray>p{
    margin-bottom: 0;
}



@media screen and (max-width: 992px){
    .recomended{
        grid-template-columns: repeat(2, 2fr);
    }
}

@media screen and (max-width: 768px){
    .navigation{
       display: none;
    }
}

@media screen and (max-width: 480px){
    .recomended{
        grid-template-columns: 2fr; 
        padding: 1rem;
    }
}